.section-2-about {
    padding: 50px 0px;
     .containerFlex {
        border: 1px solid #25d25e;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-direction: row;
        padding: 25px;
        ul {
background: transparent;
        
        li {
            color: #a1a9bd;
            display: inline-block;
            padding: 0 10px;
            margin: 33px 0;
            position: relative;
            &::before {
                content: '|';
                position: absolute;
                right: 0;
                top: 0;
            }
            a {
                color: black;
            }

        }
        #thisLi {
            &::before {
                content: '';
                position: absolute;
                right: 0;
                top: 0;
            } 
        }
    } 
    }
}

.section-3-about {
    padding: 100px 0px;
.main {
  h2 {
      margin-bottom: 25px;
  }
  p {
    margin-bottom: 50px;
}

    .image {
        .hover {
            width: 92%;
            height: 100%;
            position: absolute;
            left: 15px;
            top: 0;
            z-index: 2;
            background-color: rgba(37, 210, 94, 0.76);
            transition: 0.3s ease;
        }
    }
    img {
        width: 100%;
    }
}

}